@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primaryc: #090a1a;
  --backgroundc: #0d0f26;
  --secondaryc: #2793ba;
  --basec: #f5f5f7;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: var(--basec);
}

a {
  text-decoration: none;
  color: var(--basec);
}

body {
  background-color: var(--backgroundc);
}

.sm-text {
  font-size: 12px;
  color: #d9d9d9;
}
.mt-6 {
  margin-top: 5rem;
}

.btn-primary {
  background-color: var(--secondaryc);
  border-color: var(--secondaryc);
}
.border-primary {
  background-color: var(--secondaryc);
  border-color: var(--secondaryc);
}

.navbar {
  background-color: var(--primaryc);
  z-index: 10;
}
.logo {
  width: 40px;
}

.hero {
  padding-top: 6rem;
}
.hero div {
  height: 35rem;
}
.hero div img {
  object-position: top;
}

footer {
  background-color: var(--primaryc);
}

#loader-wrapper {
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 1;
  visibility: visible;
}

#loader-wrapper.fade-out {
  opacity: 0;
  visibility: hidden;
}

.hidden {
  display: none;
}

@media (min-width: 1200px) {
  * {
    font-size: 16px;
  }
  .container {
    padding-inline: 5rem;
  }
}
@media (min-width: 992px) {
  .row-cols-xl-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
}
@media (max-width: 576px) {
  .container {
    padding-inline: 2rem;
  }
}
