@import "./style.css";

:root {
  --secondary: #1f3d74;
  --hlcolor: #c1ff72;
  --textcolor: #f5f5f7;
  --bgcolor: #284f92;
}

main {
  text-align: center;
}
h2 {
  padding-top: 8rem;
  color: var(--hlcolor);
  margin-bottom: 0.25rem;
}
p.note {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
section {
  margin: 2rem 0;
}
table {
  margin: 1rem auto;
  width: 80%;
  border-collapse: collapse;
  background-color: white;
  color: #1e3a8a;
}
th,
td {
  padding: 0.75rem;
  border: 1px solid #ccc;
  color: var(--bgcolor);
}
th {
  background-color: var(--hlcolor);
  font-weight: bold;
}
section h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 6rem;
  color: white;
}
