@import "./style.css";

:root {
  --secondary: #1f3d74;
  --hlcolor: #c1ff72;
  --textcolor: #f5f5f7;
  --bgcolor: #284f92;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-box {
  background-color: var(--secondary);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 300px;
}
.login-box h2 {
  color: var(--hlcolor);
  text-align: center;
  margin-bottom: 1.5rem;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1.25rem;
  border: none;
  border-radius: 5px;
  outline: none;
  color: var(--secondary);
}
.login-btn {
  width: 100%;
  padding: 0.5rem;
  background-color: #84cc16;
  color: #1e3a8a;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.login-btn:hover {
  background-color: #a3e635;
}
.error {
  color: #f87171;
  text-align: center;
  margin-bottom: 1rem;
}
.back-link {
  display: block;
  margin-top: 1.5rem;
  text-align: center;
  color: #60a5fa;
  text-decoration: none;
}
.back-link:hover {
  text-decoration: underline;
}
